@font-face {
    font-family:'sans';
    src:url('../../fonts/IRANSans/IRANSansWeb_Light.woff') format('woff'),
    url(../../fonts/IRANSans/IRANSansWeb_Light.eot) format('eot'),
    url(../../fonts/IRANSans/IRANSansWeb_Light.eot?#iefix) format('embedded-opentype'),
    url('../../fonts/IRANSans/IRANSansWeb_Light.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
    font-variant:normal;
}
@font-face {
    font-family:'sansMedium';
    src:url('../../fonts/IRANSansMedium/IRANSansWeb_Medium.woff') format('woff'),
    url(../../fonts/IRANSansMedium/IRANSansWeb_Medium.eot) format('eot'),
    url(../../fonts/IRANSansMedium/IRANSansWeb_Medium.eot?#iefix) format('embedded-opentype'),
    url('../../fonts/IRANSansMedium/IRANSansWeb_Medium.ttf') format('truetype');
    font-weight:bold;
}
@font-face {
    font-family:'sansBold';
    src:url('../../fonts/IRANSansBold/IRANSansWeb_Bold.woff') format('woff'),
    url(../../fonts/IRANSansBold/IRANSansWeb_Bold.eot) format('eot'),
    url(../../fonts/IRANSansBold/IRANSansWeb_Bold.eot?#iefix) format('embedded-opentype'),
    url('../../fonts/IRANSansBold/IRANSansWeb_Bold.ttf') format('truetype');
    font-weight:bold;
}


body {
    color: #636b6f;
    font-family: sansMedium;
    font-weight: 100;
    direction: rtl;
    margin: 0;
}
body,
html,
label,
p,
span
{
    font: 14px/25px sans;
}
a:hover {
    text-decoration: none;
}
a:focus {
    text-decoration: none;
}
/*paddings*/
.no-padding {
  padding: 0 !important;
}
.padding-right-0 {
    padding-right: 0 !important;
}
.padding-right-5 {
    padding-right: 5px !important;
}
.padding-right-10 {
    padding-right: 10px !important;
}
.padding-right-15 {
    padding-right: 15px !important;
}
.padding-right-20 {
    padding-right: 20px !important;
}
.padding-left-0 {
    padding-left: 0 !important;
}
.padding-left-5 {
    padding-left: 5px !important;
}
.padding-left-10 {
    padding-left: 10px !important;
}
.padding-left-15 {
    padding-left: 15px !important;
}
.padding-left-20 {
    padding-left: 20px !important;
}
.padding-top-0 {
    padding-top: 0 !important;
}
.padding-none{
    padding-right: 0px !important;
}
.padding-top-5 {
    padding-top: 5px !important;
}
.padding-top-10 {
    padding-top: 10px !important;
}
.padding-top-15 {
    padding-top: 15px !important;
}
.padding-top-20 {
    padding-top: 20px !important;
}
.padding-top-30 {
    padding-top: 30px !important;
}
.padding-bottom-0 {
    padding-bottom: 0 !important;
}
.padding-bottom-5 {
    padding-bottom: 5px !important;
}
.padding-bottom-10 {
    padding-bottom: 10px !important;
}
.padding-bottom-15 {
    padding-bottom: 15px !important;
}
.padding-bottom-20 {
    padding-bottom: 20px !important;
}

/*margins*/
  .margin-right-0 {
      margin-right: 0 !important;
  }
.margin-right-5 {
    margin-right: 5px !important;
}
.margin-right-10 {
    margin-right: 10px !important;
}
.margin-right-15 {
    margin-right: 15px !important;
}
.margin-right-50{
    margin-right: 50px !important;
}
.margin-right-20 {
    margin-right: 20px !important;
}
.margin-right-30{
    margin-right: 30px;
}
.margin-left-0 {
    margin-left: 0 !important;
}
.margin-left-5 {
    margin-left: 5px !important;
}
.margin-left-10 {
    margin-left: 10px !important;
}
.margin-left-15 {
    margin-left: 15px !important;
}
.margin-left-20 {
    margin-left: 20px !important;
}
.margin-left-150 {
    margin-left: 150px !important;
}
.margin-top-0 {
    margin-top: 0 !important;
}
.margin-top-5 {
    margin-top: 5px !important;
}
.margin-top-10 {
    margin-top: 10px !important;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.margin-top-25 {
    margin-top: 25px !important;
}
.margin-top-30 {
    margin-top: 30px !important;
}
.margin-top-35 {
    margin-top: 35px;
}
.margin-bottom-0 {
    margin-bottom: 0 !important;
}
.margin-bottom-5 {
    margin-bottom: 5px !important;
}
.margin-bottom-10 {
    margin-bottom: 10px !important;
}
.margin-bottom-15 {
    margin-bottom: 15px !important;
}
.margin-bottom-20 {
    margin-bottom: 20px !important;
}
.margin-bottom-25 {
    margin-bottom: 25px !important;
}
.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.center {
    display: flex;
    justify-content: center;
}
.box-body {
    height: auto;
    min-height: 100%;
}

.nav-box {
    top: 0;
    left: 0;
    right: 0;
    position: fixed !important;
}
.sidebar-box {
    position: fixed !important;
    bottom: 0;
}
.cotintPower {
    color: #ffffff;
    position: absolute!important;
    bottom: 3px;
    text-align: center;
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.colorWhite {
    color: #FFF;
}
.navbar-box {
    float: left;
    background-color: transparent;
    background-image: none;
    padding: 15px 15px;
    color: #ffffff;
    font-size: 14px;
}
.main-header a {
    color: #ffffff;
}
.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 10px;
    -webkit-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
    transition: transform 0.5s ease;
}
.sidebar-menu li > a > .pull-left-container {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu .menu-open > a > .fa-angle-left, .sidebar-menu .menu-open > a > .pull-left-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.sidebar a {
    color: #b8c7ce !important;
    font-size: 14px;
}
.sidebar a:hover {
    color: #fff !important;
}
.logo {
    height: 55px !important;
}
.sidebar-menu li > a > .pull-left-container {
    position: relative;
    left: 0px;
    top: 0px;
    margin-top: 0px;
}
.pos-relative {
    position: relative !important;
}
.sidebar-menu li > a > .pull-left-container {
    position: absolute;
    left: 10px;
    top: 50%;
    margin-top: -7px;
}
.sidebar-menu .menu-open > a > .fa-angle-left, .sidebar-menu .menu-open > a > .pull-left-container > .fa-angle-left {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
.m-g-10 {
    margin-right: -10px;
}
.width-item-tab {
    width: 48% !important;
    display: inline-block !important;
}
.margin-15 {
    margin: 15px;
}
.card-header {
    padding: 10px;
    margin-bottom: 0;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c2cfd6;
}
.card-header > i {
    margin-right: 0.5rem;
}
.card-header > i {
    margin-left: 0.5rem;
}
.card-body, .card-block {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #c2cfd6;
}
.card {
    margin-bottom: 1.5rem;
}
table {
    border-collapse: collapse;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #c2cfd6;
}
.table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #c2cfd6;
}
.m-r-2{
    margin-right: -2px;
}
.card-footer {
    padding: 0.75rem 1.25rem;
    background-color: #f0f3f5;
    border-top: 1px solid #c2cfd6;
}
.card-header strong {
    font-weight: bolder;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: #FFF;
}
.icon-Picker {
    height: 35px;
    width: 65px;
}
.caret {
    margin-right: 15px !important;
}
.select2-container {
    width: 100% !important;
}
tbody tr:hover {
    background-color: #fff !important;
    color: #000000 !important;
}
.table > thead > tr > th {
    border-bottom: 2px solid #f4f4f4;
    font-family: sans !important;
    font-weight: 100;
    font-size: 14px;
    text-align: center;
}
td {
    text-align: center;
}
.btn-edit-remove {
    padding: 1px 6px !important;
    font-size: 12px!important;
    color: #333;
}
.btn-edit {
    background-color: #cdd035;
    color: #FFF !important;
}
.btn-remove {
    position: relative;
    background-color: #fff;
    border: 1px solid rgba(94, 89, 76, 0.33);
}
.btn-remove:hover {
    color: #000000;
}
.search-box-body {
    width: 120px;
    height: 30px;
    box-sizing: border-box;
    border: 2px solid #2f84a9;
    border-radius: 4px;
    font-size: 12px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    margin-right: 20px;
}
.search-box-body:focus {
    width: 40%;
}
.input-group .form-control, .nav-pills>li, .nav-tabs>li {
    float: right;
}

.tab-content {
    margin-top: -1px;
    background: #fff;
    border: 1px solid #c2cfd6;
}
.width-100 {
    width: 100%;
}
.iconpicker-popover {
    width: 315px !important;
    left: 455px;
}
.top-3 {
    margin-top: 3px;
}
.item-p {
    display: initial;
    font-size: 14px;
    font-weight: 600;
    font-family: sans !important;
}
.color-angle-down {
    color: #444 !important;
}
.switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 20px;
}
.switch input {display:none;}
.switch .input-posn {
    box-shadow: none !important;
    display: none !important;
}
.input-posn {
    display: inherit !important;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 2px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #cdd035;
}

input:focus + .slider {
    box-shadow: 0 0 1px #cdd035;
}

input:checked + .slider:before {
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.big-round {
    width: 60px;
    height: 35px;
}
.lable-noactive {
    padding-right: 20px;
}
.lable-active {
    padding-left: 16px;
}
.slider::before {
    height: 26px;
    width: 26px;
    left: 1px;
    bottom: 5px;
    position: absolute;
    content: "";
    background-color: white;
    transition: 0.4s;
    box-sizing: border-box;
}

label {
    font-size: 13px !important;
}
.nav-link {
    color: #444;
}
.breadcrumb {
    background-color: #FFF;
    margin-bottom: 0;
    padding-top: 13px;
}
.nav-box-head {
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 20px;
}
.display-none {
    display: none;
}
.breadcrumb a {
    color: #cdd035;
    margin-right: 5px;
}
.breadcrumb i {
    color: #cdd035;
}
.fixed {
    margin-top: -15px;
}
.fixed .content-wrapper, .fixed .right-side {
    padding-top: 10px !important;
}
.margin-active-box {
    text-align: center;
    margin-top: -10px;
}
.btn-check .fa-plus {
    margin-top: 3px !important;
}
.ltr {
    direction: ltr;
}
.color-telegram {
    background-color: #33aae0;
    color: #FFF;
}
.color-googlep {
    background-color: #c73011;
    color: #FFF;
}
.color-insta {
    background-color: #895a4d;
    color: #FFF;
}
.color-fb {
    background-color: #4867aa;
    color: #FFF;
}
.color-aparat {
    background-color: #ed145b;
    color: #FFF;
}
.color-linkdin {
    background-color: #2670ac;
    color: #FFF;
}
.color-twiter {
    background-color: #1da1f2;
    color: #FFF;
}
.input-group .input-group-addon {
    border-radius: 2px;
    border-color: #d2d6de;
    background-color: #fff;
    border-right: 1px solid #d2d6de;
}
input {
    font-size: 12px !important;
}
textarea {
    resize: vertical !important;
    min-height: 60px !important;
    max-height: 250px !important;
    min-width: 100% !important;
    max-width: 100% !important;
}
.social-btn {
    width: 35px;
    height: 35px;
}
.social-btn i {
    margin-right: -2px;
    margin-top: 3px;
    font-size: 13px;
}
.select2-selection {
    border-color: #ccd0d2 !important;
    height: 36px;
}
.select2-selection__choice {
    margin-top: 3px !important;
    background-color: #cdd035 !important;
}
.img-select {
    margin-top:15px;
    max-height:100px;
}
.wrapper-height {
    min-height: 100% !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    margin-right: 8px;
}
button, input, select, textarea {
    font-family: sans !important;
}
.dropdown-menu {
    border: 1px solid transparent !important;
    box-shadow: none !important;
}
.skin-blue .main-header .navbar {
    background-color: #cdd035;
}
.skin-blue .main-header .logo {
    background-color: #cdd035;
}
.skin-blue .main-header .logo:hover {
    background-color: #cdd035;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #cdd035;
}
.btn-Gray-panel {
    background-color: #bebebf !important;
    color: #fff;
}














@media (min-width: 767px) {
    .sidebar-mini.sidebar-collapse .main-header .navbar {
        margin-right: 50px;
    }

    .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span {
        border-top-left-radius: 4px;
    }
    .sidebar-mini.sidebar-collapse .main-sidebar .user-panel > .info, .sidebar-mini.sidebar-collapse .sidebar-form, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > span, .sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu, .sidebar-mini.sidebar-collapse .sidebar-menu > li > a > .pull-left, .sidebar-mini.sidebar-collapse .sidebar-menu li.header {
        display: none !important;
        -webkit-transform: translateZ(0);
    }
    .sidebar-mini.sidebar-collapse .content-wrapper, .sidebar-mini.sidebar-collapse .right-side, .sidebar-mini.sidebar-collapse .main-footer {
        margin-right: 50px;
    }
}
@media (max-width: 767px) {
    .nav-box-head {
        margin-top: 60px;
    }
}